!!!
%html{:itemscope => "", :itemtype => "http://schema.org/"}
	%head
		%title
			Data-Engineering code sample
		= stylesheet_link_tag  "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		%meta{:content => "Data-Engineering demo", :itemprop => "name"}/
		%meta{:content => "Getting hired by living S.", :itemprop => "description"}/
	= flash[:notice]
	= flash[:alert]
	%p
	= yield